.calendar-container {
  max-width: 800px;
  margin: auto;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.day-header {
  font-weight: bold;
  font-size: 0.9rem;
}

.calendar-day {
  min-height: 80px;
  background-color: #f9f9
  f9;
  transition: background-color 0.3s;
  position: relative;
}

.calendar-day:hover {
  background-color: #fff3cd;
}

.empty {
  background-color: #f0f0f0;
}

.hand{
  cursor: pointer;
}