
                            <table datatable [dtOptions]="reservation_datatable" [dtTrigger]="dtTrigger" class="row-border hover">

                                <thead class=" text-center">
                                    <tr>
                                        <th>Sno</th>
                                        <th>Feature Name</th>
                                        <th>Image</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                   <tr *ngFor="let x of floorList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{x.location_properties_name}}</td>
                                        <td><img style="width: 40px;" src="http://localhost/newrsmguest/{{x.location_properties_image}}"></td>
                                        <td>{{x.location_properties_created}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    
