<div class="content-body">
  <div class="container-fluid">
    <div class="mb-3 text-end">
      <button *ngIf="!showForm" class="btn btn-primary" (click)="showAddForm()">Add Room Tariff</button>
      <button *ngIf="showForm" class="btn btn-secondary" (click)="showListView()">Back to List</button>
    </div>

    <!-- FORM -->
    <div *ngIf="showForm" class="card">
      <div class="card-header">
        <h4 class="card-title">{{ editingId ? 'Edit' : 'Add' }} Room Tariff</h4>
      </div>
      <div class="card-body row">
        <div class="col-md-4 mb-3">
          <label>Tariff Name</label>
          <input type="text" class="form-control" [(ngModel)]="tariff.tariff_name">
        </div>
        <div class="col-md-4 mb-3">
          <label>Tariff Code</label>
          <input type="text" class="form-control" [(ngModel)]="tariff.tariff_code">
        </div>
        <div class="col-md-4 mb-3">
          <label>Room Type</label>
          <select class="form-control" [(ngModel)]="tariff.room_type">
            <option value="">Select Room Type</option>
            <option *ngFor="let room of roomTypes" [value]="room.location_category_id">
              {{ room.location_category_name }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Occupancy Category</label>
          <select class="form-control" [(ngModel)]="tariff.occupancy_category_id">
            <option value="">Select Occupancy</option>
            <option *ngFor="let category of occupancyCategories" [value]="category.id">
              {{ category.occupancy_cat }}
            </option>
          </select>
        </div>
      
        <div class="col-md-4 mb-3">
          <label>Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="tariff.start_date">
        </div>
        <div class="col-md-4 mb-3">
          <label>End Date</label>
          <input type="date" class="form-control" [(ngModel)]="tariff.end_date">
        </div>
        <div class="col-md-4 mb-3">
          <label>Rack Rate (₹)</label>
          <input type="number" class="form-control" [(ngModel)]="tariff.base_price">
        </div>
        <div class="col-md-4 mb-3">
          <label>GST (%)</label>
          <input type="number" class="form-control" [(ngModel)]="tariff.tariff_gst">
        </div>
       
        <div class="col-md-4 mb-3">
          <label>Status</label>
          <select class="form-control" [(ngModel)]="tariff.status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
        <div class="col-md-12">
          <button class="btn btn-success" (click)="saveTariff()">
            {{ editingId ? 'Update' : 'Add' }} Tariff
          </button>
        </div>
      </div>
    </div>

    <!-- TABLE -->
    <div *ngIf="!showForm" class="card mb-4">
      <div class="card-header">
        <h4 class="card-title">Rooms Tariffs</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="reservation_datatable" [dtTrigger]="dtTrigger" class="table table-bordered text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Tariff Name</th>
                <th>Occupancy</th>
                <th>Room Type</th>
                <th>Rack Rate (₹)</th>
                <th>GST (%)</th>
                 <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tariff of roomTariffs; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ tariff.tariff_name }}</td>
                <td>{{ tariff.occupancy_cat }}</td>
                <td>{{ tariff.location_category_name }}</td>
                <td>{{ tariff.base_price }}</td>
                <td>{{ tariff.tariff_gst }}</td>
                <td>{{ tariff.start_date | customDate}} <br> {{ tariff.end_date | customDate}}</td>
                <td>
                  <span [ngClass]="{
                    'badge light badge-success': tariff.status === 'active',
                    'badge light badge-secondary': tariff.status === 'inactive'
                  }">{{ tariff.status }}</span>
                </td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="editTariff(tariff)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteTariff(tariff.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
