.header {
  height: 70px !important;
}

.header .header-content {
  padding: 5px 10px !important;
}

.navbar {
  min-height: 40px !important;
}

.header .input-group-sm .form-control,
.header .input-group-sm .input-group-text {
  height: 28px;
  font-size: 12px;
  padding: 2px 8px;
}

.search-item:hover {
  background-color: #f8f9fa;
  transition: background 0.2s ease;
  border-left: 3px solid #0d6efd; /* Bootstrap primary */
}

.search-item a {
  font-size: 13px;
}

.search-item .fw-medium {
  font-weight: 500;
}
