.bg-vacant{
  background-color:#009A37;
}

.bg-occupied{
  background-color:#E50000;
}

.under-clearance{
  background-color:#772262;
}


.cleaning-required{
  background-color:#3F6DD1;
}


.fixed-height {
  height: 100px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-vacant {
  background-color: #28a745 !important;
  color: white;
}

.bg-occupied {
  background-color: #dc3545 !important;
  color: white;
}

.bg-clearance {
  background-color: #ffc107 !important;
  color: white;
}

.bg-cleaning {
  background-color: #6f42c1 !important;
  color: white;
}

.bg-default {
  background-color: #adb5bd !important;
  color: white;
}

.card-footer {
  cursor: pointer;
}
.btn-outline-success:hover {
    background-color: #ffc107 !important;
    color: black !important;
    border-color: #ffc107 !important;
    transition: all 0.3s ease;
  }

  .btn-outline-success i {
    transition: transform 0.3s ease;
  }

  .btn-outline-success:hover i {
    transform: scale(1.1);
  }
  .btn-white-hover {
  background-color: white;
  color: rgb(58, 56, 56);
  border-color:darkgrey;
  transition: all 0.3s ease;
}

.btn-white-hover:hover {
  background-color:#adb5bd; /* Light gray on hover */
  color: black;
  border-color: #333; /* Darker border on hover */
}

.hand {
  cursor: pointer;
}