<div class="card-body">
  <div formArrayName="rooms">
    <div class="card mb-3 shadow-sm p-3" *ngFor="let room of rooms.controls;">
      <div class="row g-3">
        <div class="col-md-4">
          <label>Arrival Date</label>
          <input type="datetime-local" class="form-control" formControlName="checkin_date">
        </div>
        <div class="col-md-4">
          <label>No Of Nights</label>
          <input type="number" class="form-control" formControlName="no_of_nights" >
        </div>
        <div class="col-md-4">
          <label>Departure Date</label>
          <input type="datetime-local" class="form-control" formControlName="checkout_date">
        </div>

        <div class="col-md-3">
          <label>Type</label>
          <select formControlName="type" class="form-control" >
            <option value="">Select</option>
            <option *ngFor="let type of room_category_list" [value]="type.location_category_name">{{ type.location_category_name }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label>Plan</label>
          <select formControlName="plan" class="form-control" >
            <option value="">Select</option>
            <option *ngFor="let plan of room.planOptions" [value]="plan.plan_name">{{ plan.plan_name }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label>Tariff</label>
          <input formControlName="price" class="form-control" readonly>
        </div>

        <div class="col-md-3">
          <label>Room No</label>
          <select formControlName="room_no" class="form-control">
            <option value="">Select</option>
            <option *ngFor="let room of room.roomOptions" [value]="room.room_name">{{ room.room_name }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label>Male</label>
          <input formControlName="male" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Female</label>
          <input formControlName="female" class="form-control">
        </div>
        <div class="col-md-3">
          <label>Children</label>
          <input formControlName="children" class="form-control">
        </div>

        <div class="col-md-3">
          <label>Status</label>
          <select formControlName="booking_status" class="form-control">
            <option value="">Choose...</option>
            <option value="pending">Pending</option>
            <option value="confirmed">Confirmed</option>
          </select>
        </div>
      </div>
    </div>

    <button class="btn btn-secondary btn-sm mt-3" (click)="addRoom()">+ Add Room</button>
    <button class="btn btn-primary btn-sm float-end mt-3" (click)="submitBooking()">Next >></button>
  </div>
</div>
