<div class="dlabnav">
			<div class="dlabnav-scroll">
				<ul class="metismenu" id="menu">
					
					<li><a href="#/frontdesk/allrooms/all" class="" aria-expanded="false">
							<i class="flaticon-025-dashboard"></i>
							<span class="nav-text">Dashboard</span>
						</a>
					</li>
					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-settings-1"></i>
							<span class="nav-text">Masters</span>
						</a>
						<ul aria-expanded="false">
							
							<!-- <li><a href="#/frontdesk/country">Country</a></li>
							<li><a href="#/frontdesk/state">State</a></li>
							<li><a href="#/frontdesk/city">City</a></li> -->
							<li><a href="#/frontdesk/couponmaster">Coupons</a></li>
							<li><a href="#/frontdesk/loyaltypoints">Loyalty Points</a></li>
						</ul>
					</li>

					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-key"></i>
							<span class="nav-text">Settings</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="#/frontdesk/locationconfig">Location Config</a></li>
							<li><a href="#/frontdesk/propertypolicy">Property Policies</a></li>
							<li><a href="#/frontdesk/cancellationpolicy">Cancellation Policies</a></li>
							<li><a href="#/frontdesk/roomsettings">Room Config</a></li>
							<li><a href="#/frontdesk/occupancycat">Occupancy</a></li>
							<li><a href="#/frontdesk/roomtariffs">Room Tariffs</a></li>
							<li><a href="#/frontdesk/mealplan">Meal Master</a></li>
							<li><a href="#/frontdesk/roomplanner">Room Plans</a></li>
							<li><a href="#/frontdesk/roomservices">Room Services</a></li>
							<li><a href="#/frontdesk/guestappconfig">Guest App Config</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-calendar-1"></i>
							<span class="nav-text">Bookings</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="#/frontdesk/reservation">Reservation List</a></li>
							<li><a href="#/frontdesk/addreservation">Add Reservation</a></li>
							<li><a href="#/frontdesk/roomcheckin">Room Check-In</a></li>

						</ul>
					</li>
					<li><a href="#/frontdesk/request/new" class="" aria-expanded="false">
							<i class="flaticon-381-promotion"></i>
							<span class="nav-text">Request</span>
						</a>
					</li>
					
					<li><a href="#/frontdesk/bookingcalendar" class="" aria-expanded="false">
							<i class="flaticon-381-calendar-1"></i>
							<span class="nav-text">Bookings</span>
						</a>
					</li>
					
					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-exit-1"></i>
							<span class="nav-text">Check In & Out</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="#/frontdesk/allrooms/all">All Rooms</a></li>
							<li><a href="#/frontdesk/allrooms/vacant">Vacant</a></li>
							<li><a href="#/frontdesk/allrooms/occupied">Occupied</a></li>
							
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-database-1"></i>
							<span class="nav-text">Upkeep Tasks(OPS)</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="#/frontdesk/postedoperations">Posted Assignment</a></li>
							<li><a href="#/frontdesk/receivedoperations">Received Assignments</a></li>
							<li><a href="#/frontdesk/inprogressoperations">Works Taken</a></li>
							<li><a href="#/frontdesk/finishedoperations">Finished Works</a></li>
							<li><a href="#/frontdesk/cascadeusers">Cc Tasks</a></li>
							<li><a href="#/frontdesk/escalatedtasks">Escalated Tasks</a></li>	
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-list-1"></i>
							<span class="nav-text">Contactless Check In</span>
						</a>
						<ul aria-expanded="false">
						
							    <li><a href="#/frontdesk/contactless">Contactless Check In</a></li>
								<li><a href="#/frontdesk/checkinhistory">Check in History</a></li>
						</ul>
					</li>
					
					
				</ul>

				<!-- <div class="dropdown header-profile2 ">
					<div class="header-info2 text-center">
						<img src="{{logininfo.profilepic}}" alt=""/>
						<div class="sidebar-info">
							<div>
								<h5 class="font-w500 mb-0">{{logininfo.firstname}}</h5>
								<span class="fs-12">{{logininfo.email}}</span>
							</div>	
						</div>
						<div>
							
						</div>
					</div>
				</div> -->
				
				<br><br><br>
			</div>
		</div>