/* You can add global styles to this file, and also import other style files */ 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.header {
  height: 80px;
  flex-shrink: 0;
}

.content-body {
  flex-grow: 1;
  overflow-y: auto;
}
