<div class="content-body"  style="max-height: 100vh; overflow-y: auto;">
			<!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
                           <h3>QR CODE</h3>
						<div class="row">

                            <div class="col-xl-6">

                               <div class="alert alert-info alert-dismissible fade show">
                                    
                                    <strong>https://rsmguest.com/guest/welcome.php?lid=Mg==&rid=MzA1</strong> 
                                   
                                </div>
                                 <img width="200px" src="http://localhost/newrsmguest/assets/roomqr/2/SVM-3049.jpeg">
                            </div>
                     </div>
</div>
</div>
</div>
</div>