
<table datatable [dtOptions]="reservation_datatable" [dtTrigger]="dtTrigger" class="row-border hover">

                                <thead class=" text-center">
                                    <tr>
                                        <th>Sno</th>
                                        <th>Floor Name</th>
                                         <th>Rooms</th>
                                        <th>Category</th>
                                       <th>Features</th>
                                        <th>QR</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                   <tr *ngFor="let x of floorList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{x.floorname}}</td>
                                         <td>{{x.room_name}}</td>
                                        <td>{{x.category_name}}</td>
                                       <td>
                                    <div style="display: flex; gap: 5px; justify-content: center;">
                                      <img *ngFor="let icon of x.propertyicons?.split(',')" 
                                          [src]="'http://localhost/newrsmguest/' + icon"
                                          style="width: 20px; height: 20px; object-fit: contain;"
                                          alt="feature icon">
                                    </div>
                                  </td>

                                        <td>
  <a href="#/frontdesk/roomqrcode?lid=2&rid={{x.room_name}}" target="_blank" style="color: green; font-size: large;">
    <i class="fas fa-qrcode"></i>
  </a>
</td>

                                    </tr>
                                </tbody>
                            </table>
                      
