
                            <table datatable [dtOptions]="reservation_datatable" [dtTrigger]="dtTrigger" class="row-border hover">

                                <thead class=" text-center">
                                    <tr>
                                        <th>Sno</th>
                                        <th>Floor Name</th>
                                        <th>No of Rooms</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                   <tr *ngFor="let x of floorList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{x.floorname}}</td>
                                        <td>{{x.noofrooms}}</td>
                                        <td>{{x.created_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        

